{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}

<div class="flex justify-center">

<div>
Nombre Total des concours : {{nombreConcours}}
</div>


<div>
Nombre Total des candidates : 10

</div>


<div>
taux de réussite : 10

</div>



</div>

{% endblock main %}